:root{
    --preto: #201b2c;
    --verde: #77ffc0;
    --branco: #fffafa;
    --roxo: #9525f7;
}

body{
    background-color: var(--preto);
}

p{
    font-size: 20px;
}

h1, h3, p{
    color: var(--branco);
}

a, a:visited{
    text-decoration: none;
    color: var(--verde);
    transition: 0.3s ease-in-out;
}

a:hover{
    color: var(--roxo);
}

header{
    align-items: center;
    top: 0; left: 0;
    padding: 0;
    background-color: var(--preto);
    width: 100%; height: 80px;
    margin-bottom: 1px;
    z-index: 99;
    border-bottom: 2px solid var(--verde);
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding-left: 0px;
}

nav li{
    padding: 1em .8em;
    font-size: 20px;
}

input[type=button], input[type=reset], select{
    border: 1px solid var(--verde);
    background-color: transparent;
    color: var(--branco);
    border-radius: 10px;
    width: 160px; height: 27px;
    font-size: 17px;
}

.option{
    color: var(--preto);
}

input[type=button]:hover, input[type=reset]:hover, input[type=radio]{
    scale: 1.04;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

input[type=text], input[type=number]{
    border: 1px solid var(--verde);
    background-color: transparent;
    color: var(--branco);
    width: 160px; height: 20px;
}